<div class="row justify-content-around">
  <div class="col-md-7 mb-2">
    <section class="selling_image_form">
      <%= render 'shared/selling_image_form' %>
    </section>
  </div>
  <div class="col-md-7 mt-5">
    <% if @selling_images.any? %>
      <div class="d-flex justify-content-around">
        <%= will_paginate @selling_images %>
      </div>
      <p class="mt-4 mb-0 text-center">
        出品画像 (<%= @selling_images.count %>)
      </p>
      <ol class="selling-images">
        <%= render @selling_images %>
      </ol>
      <div class="d-flex justify-content-around">
        <%= will_paginate @selling_images %>
      </div>
    <% end %>
  </div>
</div>
