
<%= form_for(@selling_image, html: { multipart: true }) do |f| %>
  <p>Upload Image</p>
  <%= render 'shared/error_messages', object: f.object %>
  <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
  <div class="field">
    <%= f.text_field :title, placeholder: "タイトルを入力してください" %>
  </div>
  <div class="field">
    <%= f.text_area :content, placeholder: "説明文を入力してください" %>
  </div>
  <div class="field">
    <%= f.number_field :price, placeholder: "価格を入力していください" %>
  </div>
  <div class="field">
    <%= f.date_field :valid_from, placeholder: "出品開始日を入力してください" %>
  </div>
  <div class="field">
    <%= f.date_field :valid_to, placeholder: "出品終了日を入力してください" %>
  </div>

  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>

<script type="text/javascript">
  $('#selling_image_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
