<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Users", '#' %></li>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-toggle="dropdown">
              Account <b class="caret"></b>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <li><%= button_to "Profile", current_user, class: "dropdown-item", method: :get %></li>
              <li><%= button_to "Settings", '#', class: "dropdown-item", method: :get %></li>
              <li class="divider"></li>
              <li>
              <%# 一旦button_toで代用する %>
                <%= button_to "Log out", logout_path, class: "dropdown-item", method: :delete %>
              </li>
            </ul>
          </div>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
